.toggle-theme-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 4px;

  span {
    font-size: 16px;
  }
}
.toggle-theme {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 40px;

  input {
    display: none;
  }
}
.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
  &:before {
    background-color: #fff;
    bottom: 2px;
    content: '';
    height: 16px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 16px;
  }
}
input {
  &:checked {
    + {
      .slider {
        &:before {
          transform: translateX(16px);
        }
        background-color: cornflowerblue;
      }
    }
  }
}
.slider.round {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}
