body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.darkmode {
  --background-color: rgb(100, 99, 99);
  --font-color: #ffffff;
  --button-color: #dfb674;
  --button-border: sandybrown;
}
.lightmode {
  --background-color: #ffffff;
  --font-color: #000000;
  --button-color: #dfb674;
  --button-border: sandybrown;
}
#root {
  color: var(--font-color);
  background-color: var(--background-color);
}
.App {
  color: var(--font-color);
  background-color: var(--background-color);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.search-form {
  margin: 0 auto 70px;
  width: 80%;
  text-align: center;
  .form-header {
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.form-btn {
  font-weight: 500;
  background-color: var(--button-color) !important;
  border-color: var(--button-border) !important;
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(129, 73, 9, 0.5);
  }
}
