.word-page {
  width: 80%;
  margin: auto;
  .part-of-speech {
    text-align: center;
    font-style: italic;
    font-weight: 600;
    color: gray;
  }
  .definition {
    line-height: normal;
    font-size: 15px;
  }
  h2 {
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
  }
  .form-btn {
    width: 50%;
    margin: 10px 25%;
    background-color: var(--button-color);
  }
}
