.sidebar {
  background-color: #dfb674 !important;
  border-color: sandybrown !important;
  margin-left: 7px;
  margin-top: 7px;
  position: relative;
  font-size: 14px;
  padding: 3px 10px;
}
.sidebar-field {
  width: 250px !important;
}
.navbar-option {
  font-size: 18px;
  cursor: pointer;
}
